* {
    box-sizing: border-box;
}

body {
    background-color: #F8FAFD;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0.5rem 2rem;
}

header {
    display: flex;
    padding: 0.5rem 0rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(64, 64, 64);
}

p {
    margin: 0.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 0px;
}

th {
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #c7c7c7;
}

td {
    padding: 0rem 0rem;
    border-bottom: 1px solid #c7c7c7;
}

tr:not(:first-child):hover {
    background-color: #f0f1f1;
    position: relative;
}

/* GENERAL UTILITIES */

.h-100 {
    height: 100%;
}

.semi-bold {
    font-weight: 600;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-05 {
    gap: 0.5rem;
}

.relative {
    position: relative
}

.overflow-hidden {
    overflow: hidden;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%
}

.text-start {
    text-align: start;
}

.font-light {
    font-weight: 300;
}

.py-0-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* SPECIFIC CLASSES */

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 0.5rem;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1rem 2rem;
    gap: 2rem;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 0.25rem;
    transform: translateX(-0.5rem);
}

.breadcrumb li {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

.breadcrumb li:hover {
    background-color: #EDEDED;
}

.folders-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    width: 100%;
}

.folders-list li {
    display: flex;
    flex-direction: row;
    gap: 0.5;
    align-items: center;
    justify-content: start;
    border-radius: 0.5rem;
    background-color: #F1F4F8;
    cursor: pointer;
}

.folders-list li a {
    padding: 0rem 1rem;
}

.folders-list li a p{
    margin: 0.9rem 0rem;
}

.folders-list li:hover {
    background-color: #E0E3E7;
}

.folders-list > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.btn {
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}

button p {
    margin: 0;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
}

.btn-primary:hover {
    background-color: #0b62e4;
    color: white;
}

.btn-primary:active {
    background-color: #0b5ad2;
    color: white;
}

.btn-secondary {
    background-color: rgb(106, 106, 106);
    color: white;
}

.btn-secondary:hover {
    background-color: rgb(107, 107, 107);
    color: white;
}

.btn-secondary:active {
    background-color: rgb(99, 99, 99);
    color: white;
}

tr > a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tabs li {
    border-bottom: 1px solid #212121;
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
}

.tabs li.active {
    border-bottom: 1px solid #0d6efd;
}

.tabs li.active a {
    color: #0d6efd;
}

.tabs li a {
    color: #212121;
}

.tabs li:not(.active):hover {
    border-bottom: 1px solid #000000;
}

.tabs li:not(.active):hover a {
    color: #000000;
}

.floating-image {
    transform: translateX(-2rem) translateY(-2rem);
}

.search-input {
    background-color: #eaeef5;
    padding: 0.75rem 2rem 0.75rem 2.75rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    border: none;
    font-weight: 400;
    width: 100%
}

.search-input:focus {
    outline: 1px solid grey;
    background-color: white;
}

.search-div {
    position: relative;
    width: 40%;
}

.search-div i {
    height: 100%;
    position: absolute;
    transform: translateY(32%) translateX(100%);
}

/* BREAKPOINTS */

@media (min-width: 600px) {
    .folders-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .folders-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2000px) {
    .folders-list {
        grid-template-columns: repeat(9, 1fr);
    }
}